.venv/
.vscode/
app/data/
app/dataset/
app/models/pretrained_model/
app/scripts/
app/src/utils/
app/src/gui/gui_main.py
app/src/gui/gui0.py
app/src/gui/gui1.py
app/tests/
app/trains/
project_structure.txt
